.carrossel{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

.carrossel .foto{
    width: 1100%;
    animation: joui 40s infinite;
}

.carrossel .foto img{
    width: 19.9%;
}

@keyframes joui {
    0% {margin-left: 0%;}
    8% {margin-left: 0%;}
    10%{margin-left: -100%;}
    18%{margin-left: -100%;}
    20%{margin-left: -200%;}
    28%{margin-left: -200%;}
    30%{margin-left: -300%;}
    38%{margin-left: -300%;}
    40%{margin-left: -400%;}
    48%{margin-left: -400%;}
    50%{margin-left: -500%;}
    58%{margin-left: -500%;}
    60%{margin-left: -600%;}
    68%{margin-left: -600%;}
    70%{margin-left: -700%;}
    78%{margin-left: -700%;}
    80%{margin-left: -800%;}
    88%{margin-left: -800%;}
    90%{margin-left: -900%;}
    98%{margin-left: -900%;}
    100%{margin-left: -1000%;}
}

body{
   animation: fundo 50s infinite; 
}

@keyframes fundo{
    0%{background-color: rgb(132, 0, 255);}
    10%{background-color: rgb(255, 0, 0);}
    20%{background-color: rgb(255, 255, 255);}
    30%{background-color: rgb(8, 252, 0);}
    40%{background-color: rgb(233, 13, 196);}
    50%{background-color: rgb(7, 231, 247);}
    60%{background-color: rgb(13, 219, 133);}
    70%{background-color: rgb(29, 3, 54);}
    80%{background-color: rgb(200, 255, 0);}
    90%{background-color: rgb(15, 211, 81);}
    100%{background-color: rgb(209, 37, 109);}
}